@{
    Layout = "_LayoutAdmin";
}
@model SchoolManagementSystem.Areas.Admin.AdminVM.RoleViewModel



    <div class="row" style="margin-top:10%;">

        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 jumbotron" style="background-color:lightgray;box-shadow:0 5px 15px #686868;">

            <p class="h2" style="text-align:center;"><b>Add Role</b> <br /><div style="border-bottom: 1px solid #686868"></div> </p>
            <form asp-area="Admin" asp-action="AddRole" asp-controller="Home" method="post" >
                <div class="form-group">
                    <label asp-for="roletypeVM" class="h3"></label>
                    <input asp-for="roletypeVM" class="form-control" />
                    <span asp-validation-for="roletypeVM"></span>
                </div>
                <div class="form-group ">
                    <input type="submit" class="btn btn-success " value="Add" />
                </div>
            </form>
        </div>


    </div>


