@model SchoolManagementSystem.Areas.Accounts.ViewModels.TeacherSalaryViewModel



    @*@ViewBag.msg1
    @ViewBag.msg2*@
    <form style="margin-top:20px;padding:20px;background-color:ghostwhite; box-shadow:0 5px 15px #686868;border-radius:10px 15px;"asp-area="Accounts"asp-controller="Accounts"asp-action="SetSalary"method="post">
        <h1 style="text-align:center;font-family:'Century Gothic';font-weight:bold;">Set Teacher's Salary</h1>
        <hr style="width:70%;" />

        <div class="row" style="padding:5px;">
            @*row 1*@
      
            <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <label>Designation:</label>
                    <select class="form-control"asp-for="desigidVM"asp-items="@(new SelectList(ViewBag.ss,"DesigId","DesigName")) ">
                        <span class="text-danger field-validation-valid" asp-validation-for="desigidVM"></span>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label>Enter Salary:</label>
                    <input class="form-control" type="number" placeholder="Amount" asp-for="salaryVM" />
                    <span class="text-danger field-validation-valid" asp-validation-for="salaryVM"></span>
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            @*row 2*@
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float:right;">
                <button class="btn btn-primary" type="submit" style="float:right;">Submit</button>
            </div>
        </div>
    </form>
