@model SchoolManagementSystem.Areas.Accounts.ViewModels.AccMngViewModel





   @ViewBag.msg
    <form style="margin-top:20px;padding:20px;background-color:ghostwhite; box-shadow:0 5px 15px #686868;border-radius:10px 15px;" asp-area="Accounts" asp-controller="Accounts" asp-action="UpdateFeeList" method="post">
        <h1 style="text-align:center;font-family:'Century Gothic';font-weight:bold;">Accounts Management</h1>
        <hr style="width:70%;" />

        <div class="row" style="padding:5px;">
            <input type="hidden" asp-for="PrimaryKey"/>
            <input type="hidden" asp-for="classidVM"/>
            @*row 1*@
            @*<div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2">
                <div class="form-group">
                    <label>Select Class:</label>

                    <select asp-for="classidVM" asp-items="@(new SelectList(ViewBag.Class,"ClassId","ClassName")) " class="form-control"></select>
                </div>
            </div>*@
            <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label>Enter the Amount:</label>
                    <input type="number" class="form-control" placeholder="Fee Amount" asp-for="feeamountVM" />
                </div>
            </div>
        </div>
        <div class="row" style="padding:10px;">
            @*row 2*@
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="float:right;">
                <button class="btn btn-primary" type="submit" style="float:right;">Submit</button>
            </div>
        </div>
    </form>

